<div>
	<nav>
		<a [routerLink]="['/poll','new']">Create a New Poll</a> 
		<a [routerLink]="['']">Logout</a>
	</nav>
	<h3>Current Polls:</h3>
	<table>
		<tr>
			<th>
				Name
			</th>
			<th>
				Survey Question
			</th>
			<th>
				Date Posted
			</th>
			<th>
				Action
			</th>
		</tr>
		<tr *ngFor="let poll of polls">
			<td>{{poll.user}}</td>
			<td><a [routerLink]="['/poll', poll._id ]">{{poll.q_text}}</a></td>
			<td>{{poll.createdAt}}</td>
			<td *ngIf="user.name == poll.user"><a href (click)="delete(poll._id)">delete</a></td>
		</tr>
	</table>
</div>